export DB_DB=example
export DB_ID=example
export DB_PW=example
export DB_HOST=example
export NAVER_TOKEN=example
export secret=example
export FILESDIR=example
export AWS_SDK_LOAD_CONFIG=1
export AWS_ACCESSKEY=example
export AWS_SECRETACCESSKEY=example